body, html {
	height: 100%;
}

.background {
    background-image: url("background2.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.center {
    position: absolute;
    /*background-color: rgba(0,0,0,0.6);*/
    color: black;
    padding-top: 240px;
    height: 100%;
    width: 100%;
}

.intro p {
	padding-top: 200px;
	line-height: 1.5;
    display: inline-block;
	vertical-align: middle;
	text-align: center;
}

br {
	display: block; /* makes it have a width */
    content: ""; /* clears default height */
    margin-top: 20px; /* change this to whatever height you want it */
}

.text_body {
	margin-top: 30px;
	margin-left: 100px;
	margin-right: 100px;
	padding-bottom: 60px;
}

.pic {
	border-radius: 50%;
	float: left;
}

img {
	float: left;
}

.footer {
	background-color: #e5e5e5;
	padding: 40px;
}




